WCFClient/WCFClient/Service References/WcfService/WcfService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WCFMessage" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFMessage" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53629/WcfService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="DT" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Identity" type="ser:guid" />
      <xs:element minOccurs="0" name="MessageBody" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
</xs:schema>